* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
}

a {
  color: unset;
  text-decoration: none;
}

.color__bg{
  background-color: var(--color-bg);
}
.section__padding {
  padding: 4rem 8rem;
}

.section__margin {
  margin: 4rem 8rem;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (max-width: 820px) {
  .section__padding {
    padding: 4rem;
  }

  .section__margin {
    margin: 4rem;
  }
}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 4rem 2rem;
  }

  .section__margin {
    margin: 4rem 2rem;
  }  
}


footer{
  width: 100%;
  justify-content: center;
  display: flex;
  padding-bottom: 2rem;

  margin-top: 20rem;
 
}
footer p{
  font-size: 15px;
  font-family: var(--font-family);
  padding: 5px;
  color: rgb(117, 117, 117);
}
.motto{
  border-left: solid 1px gray;
 
  
}
.copyright{
  font-size: 15px;
}

@media screen and (max-width: 890px) {
    footer{
      margin-top: 80rem;
    }
  
}

@media screen and (max-width: 550px) {
   
  footer{ 
    margin-top: 800px;
  }
}

/* ScrollIcon.css */
.scroll-icon {
  position: fixed;
  top: 300px;
  left: 20px;
  width: 50px;
  height: 50px;
  background-color: rgb(0, 0, 0);
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  opacity: 0;
  transform: scale(.7);
  transition: all 0.3s ease-in-out;
  
}

.scroll-icon.show {
  opacity: 50%;
}
.scroll-icon:hover{
  transform: scale(1);
}
